

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


/*@media only screen and (max-width: 400px) {
	p {
		background-color: pink;
	}
}
*/

body {
	margin-top: 10%;
	background-color: white;
	overflow-x: hidden;
}
  .container-fluid {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #86BC99;
}

/* Class */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img,
embed,
object, 
video {
	max-width: 100%;

}


img:last-of-type {
	margin-right: 0;
}
p {
	font-size: 16px;
	line-height: 1.2em;
}

nav a,
button {
	min-width: 48px;
	min-height: 48px;
	z-index: 100;
}

.first-pg, 
.about-pg, 
.thumbnail,
.contact-pg
{
	height: 100vh;
	background-color:#9BD6D9;
}

.first-pg {
	margin-top: 20px;

}

.logo {
	margin-left: 10%;
	
}
@media only screen and (max-width: 767px) {
	.logo {
		margin-top: 5%;
		height:100px;
		width:100px;
		z-index: 100;
	}
}

@media only screen and (min-width: 768px) {
	.logo {
		margin-top:5%;
		height: 160px;
		width: 160px;
		z-index: 100;
	}
}



.portrait {
	
	width: 40%;
	float: left;
	padding: 2%;

}

.write-up {
	width: 100%;
	padding: 10px;
}

.text-lft {
	
	padding-left:10vw;
}

.text-flash {
	margin-left: 4vw; 
}

.my-name {
	margin-top:5%;
	left: 15%;
}

footer {
	text-align: center;
	margin-bottom: 10%;
}