

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


/*@media only screen and (max-width: 400px) {
	p {
		background-color: pink;
	}
}
*/

body {
	margin-top: 10%;
	background-color: #CDD2FA;
	overflow-x: hidden;
}
  .container-fluid {
	max-width: 733px;
	margin-left: auto;
	margin-right: auto;
}
*/
/* Class */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img,
embed,
object, 
video {
	max-width: 100%;

}

img {
	padding: 10px 0;
}
p {
	font-size: 16px;
	line-height: 1.2em;
}

nav a,
button {
	min-width: 48px;
	min-height: 48px;
	z-index: 100;
}


.text-flash {
	background-color: #F272A7;
}

.write-up {
	background-color: #72F2D7
}

.about-head {
	background-color: #72F2A3;
}

.contact-head {
	background-color: #72F2A3;
}

.featured {
	max-width: 50%;
}

.logo {
	display:block;
	position: fixed;
	z-index: 100;
}

.splash-img {
	float: center;
}

.portrait {
	
	width: 40%;
	float: left;
	padding: 2%;

}

.write-up {
	width: 100%;
	padding: 10px;
}
