/* Typography styles */
h1 {
  font-family: 'Alfa Slab One', futura, helvetica, sans-serif;
}


h2,
h3 {
  font-family: futura, helvetica, arial, sans-serif;
}


p {
  font-family: arial, helvetica, sans-serif;
}


li a {
	font-family: arial, helvetica, arial, sans-serif;
}


p {
	padding: 6%;
	font-size: 16px;
	line-height: 1.2em;
}
