h1 {
  font-family: 'Alfa Slab One', futura, helvetica, sans-serif;
}

h2,
h3 {
  font-family: futura, helvetica, arial, sans-serif;
}

p {
  font-family: arial, helvetica, sans-serif;
}
/*@media screen and (min-width: 992px) {
	.container-fluid{
		width: 992px;
	}

}

@media screen and (min-width: 961px) {}